body {margin: 0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_responsive
*/

@media (min-width:601px) {
  /*Anything above 600 pixels or desktops*/

 img{
max-width: 90%;
height: auto;
}
.footer-item{
    justify-content: space-between;
     margin-top: 2%;
}    
  body{
   letter-spacing: .1vw;
    word-spacing: .1vw;
}




@media (min-width:401px) and (max-width:600px){
    /* tablets*/
 img{
max-width: 75%;
height: auto;
 }
   ul.topnav li.right, 
  ul.topnav li {float: none;}
}  
   
}
  .footer-item{
    justify-content: center;
    text-align: center;
    padding-top: 1%;
}      
  
}
@media (max-width:400px){
  /* mobile phones*  */
  
 
