

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_responsive
*/
body {margin: 0;}


.wrapper {
max-width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

br {
line-height: 1em;    
}

.logo {
  width: 20%;
  height: auto;
}

#photo {
    width:100%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #101010;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color:#BA2623;}

ul.topnav li a.active {background-color: #DE741D;}

ul.topnav li.right {float: right;}

}

.flex-container {
  display: flex;
flex-direction: row;
}

.flex-item-left {
  flex: 40%;
    padding: 10px;
  
}

.flex-item-right {
  flex: 40%;
background-color: #751816;
    fontsize: 100%;
    padding: 10px;


}
@media (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

 .flex-container {
    flex-direction: column;
  }
}
