/*font-family: 'Nunito', sans-serif;
font-family: 'Georgia', serif; */

.header{
font-family: 'Georgia', serif;
font-weight: bold;
text-transform: uppercase;
width: 45%;
height: auto;
line-height: 20%;   
}

nav {
font-family: 'Nunito', sans-serif;
font-weight: bold;
text-transform: uppercase;
}


#main{
font-family: 'Nunito', sans-serif;
}
#footer{
font-family: 'Georgia', serif;
}
