/*font-family: 'Nunito', sans-serif;
font-family: 'Georgia', serif; */

.header{
font-family: 'Georgia', serif;
font-weight: bold;
text-transform: uppercase;
width: 25%;
height: auto;
line-height: 10%;   
}
#main{
font-family: 'Nunito', sans-serif;
}
#footer{
font-family: 'Georgia', serif;
}
